<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="local.dji.fly.vietnamese" android:versionCode="7" android:versionName="1.21.8-vi-reviewed5"><uses-sdk android:minSdkVersion="29" android:targetSdkVersion="30"/><overlay android:targetPackage="dji.go.v5" android:targetName="DJIFlyLocalTranslation" android:isStatic="false" android:priority="999"/><application android:hasCode="false" android:label="Tiếng Việt DJI Fly"/></manifest>
